{% if register == True %}
<form method="POST" action="{{ url_for('register') }}"> 
{% else %}
<form method="POST" action="{{ url_for('sign_in') }}">
{% endif %}
<div class="row">
    <!--username-->
    <div class="col s12 m8 offset-m2 input-field">
        <i class="fas fa-user-plus prefix"></i>
		<input id="username" name="username" type="text" minlength="5" 
            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" title="Use min 5 characters (letters or numbers)!" class="validate" required>
		<label for="username">Username</label>
        {% if register == True %}
        <p class="pattern-u">Please note only letters (either case) and numbers can be used. 
         No special characters!</p>
         {% endif %}
	</div> 
    <!--password-->
    <div class="col s12 m8 offset-m2 input-field">
        <i class="fas fa-user-lock prefix"></i>
        <input id="password" name="password" type="password" minlength="5"
            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" title="Use min 5 characters!" class="validate" required>
        <label for="password">Password</label>
        {% if register == True %}
        <p class="pattern-p">Password should have min 5 characters!</p>
        {% endif %}
    </div>
    <!--register/login/homepage buttons-->
    <div class="col s12 center-align">
        <button type="submit" class="register-btn" action="action"></button>
    </div>
    <div class="col s12">
        {% if register == True %}
            <h3 class="heading-one">Are you registered already?</h3>
        {% else %}
            <h3 class="heading-two">No account yet?</h3>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12">
            {% if register == True %}
            <a href="{{ url_for('login') }}" class="login-btn">Click here to sign in</a>
            {% else %}
            <a href="{{ url_for('register') }}" class="register-btn">Click here to register</a>
            {% endif %}    
        </div>
        <div class="col s12">
            <a href="{{ url_for('about') }}" class="homepage-btn">Go back to the home page</a>
        </div>
    </div>
</div>