{% extends 'layout/base.html' %}
{% block content %}

    <!--Flash messages-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row-flashes">
                    <h4 class="flash-message purple-text text-darken-4">{{ message }}</h4>
                </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <!--Homepage-->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <!--Website introduction-->
            <div class="about card-panel grey lighten-3">
                <h4 class="intro-heading purple-text text-darken-4">Hello and welcome to Buzzing Strings!</h4>
                    <div class="divider"></div>
                <div class="introduction">
                    <p class="welcome-text blue-grey-text text-darken-4">
                    If you are a guitar enthusiast you came to a right place. No matter 
                    whether you are a beginner or experienced guitarist, you can now 
                    add your favourite guitars...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <!--Redirection links-->
            <div class="about card-panel grey lighten-3">
                <h4 class="intro-heading purple-text text-darken-4">Visit our Guitar List!</h4>
                <div class="divider"></div>
                <div class="redirect-links">
                    <p class="content-text blue-grey-text text-darken-4">
                        Check out the incredible list of guitars from Buzzing Strings,
                        Do not be shy and let us know what is your favourite guitar and
                        share your choice with the guitar community!
                    </p>
                </div>
                <div class="divider"></div>
                <div class="redirect-buttons center-align">
                    <!--Register redirect button-->
                    <a href="{{ url_for('register') }}" class="btn waves-effect waves-light">All Guitars</a>
                    <!--Log In redirect button-->
                    <a href="{{ url_for('login') }}" class="btn waves-effect waves-light">Log In<i class="fas fa-user right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <!--Guitar shop links-->
            <div class="about card-panel grey lighten-3">
                <h4 class="intro-heading purple-text text-darken-4">Check our partners' guitar shops!</h4>
                    <div class="divider"></div>
                <div class="shop-links">
                    <p class="welcome-text blue-grey-text text-darken-4">
                      Do you need a new guitar? Your current guitar needs additional sound effects?
                      Check our friends' webistes and discuss your guitar needs. You will have a chance to
                      chat with a friendly member of staff who will answer all your questions and provide you
                      with useful information.
                    </p>
                </div>
                <div class="divider"></div>
                <div class="shop-buttons center-align">
                    <!--Guitar Guitar shop redirect button-->
                   <a href="https://www.guitarguitar.co.uk/" target="_blank" aria-label="#" 
                   class="btn waves-effect waves-light">Guitar Guitar</a>
                   <!--Unique Guitar shop redirect button-->
                   <a href="https://www.uniqueguitar.co.uk/" target="_blank" aria-label="#"
                   class="btn waves-effect waves-light">Unique Guitar</a>
                </div>
            </div>
        </div>
    </div>
        
{% endblock%}