{% include 'layout/head.html' %}
{% block content %}
    <div class="error-page red lighten-2">
        <div class="error-page-message">
            <i class="error-page-icon far fa-sad-tear"></i>
            <p class="error-message-heading grey-text text-lighten-4">Sorry, this page doesn't exist!</p>
        <p>{{ error_message }} Please use the button below to return to homepage safely!</p>
        <div class="return-button">
            <a href="{{ url_for('about') }}" class="return btn-primary light-blue darken-4">Back to Homepage</a>
        </div>
    </div>
{% endblock %}