{% extends 'layout/base.html' %}
{% block content %}
  
    <!--{% for guitar in guitars %}
        {{ guitar.guitar_type }}
        {{ guitar.guitar_name }}
        {{ guitar.guitar_body }}
        {{ guitar.guitar_scale }}
        {{ guitar.guitar_description }}
        {{ guitar.date_added }}
        {{ guitar.guitar_image }}
    {% endfor %}-->
       
        <h3 class="all-guitars heading purple-text text-darken-4">My Guitars!</h3>
        <!--user's guitars-->
         <div class="row">
            <div class="col s12 m4">
                <div class="card-panel blue-grey lighten-2 center-align">
                    {% for guitar in guitars %}
                    <p class="guitar-type">{{ guitar.guitar_type }}</p>
                    <div class="divider"></div>
                    <p class="guitar-name"> {{ guitar.guitar_name }}</p>
                    <div class="divider"></div>
                    <p class="guitar-shape"> {{ guitar.guitar_shape }}</p>
                    <div class="divider"></div>
                    <p class="guitar-description">{{ guitar.guitar_description }}</p>
                    <div class="divider"></div>
                    <p class="guitar-image">{{ guitar.guitar_image }}</p>
                    <div class="divider"></div>
                    <p class="date-added">{{ guitar.date_added }}</p>
                    <div class="divider"></div>
                    <p class="created_by">{{ guitar.created_by }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}