{% extends 'layout/base.html' %}
{% block content %}
  
    {% for guitar in guitars %}
        {{ guitar.guitar_name }}
        {{ guitar.guitar_body }}
        {{ guitar.guitar_scale }}
        {{ guitar.guitar_control }}
        {{ guitar.guitar_description }}
        {{ guitar.guitar_image }}
    {% endfor %}
        
        <h3 class="all-guitars heading purple-text text-darken-4">Add your guitar!</h3>

        <ul class="guitar-menu collapsible">
            <li>
                <div class="guitar collapsible-header grey-text text-lighten-4 blue-grey lighten-2">
                    <i class="fas fa-guitar"></i>Acoustic Guitar</div>
                <div class="guitar collapsible-body grey lighten-2">Lorem ipsum dolor sit amet.</div>
            </li>
            <li>
                <div class="guitar collapsible-header blue-grey-text text-darken-4">
                    <i class="fas fa-guitar"></i>Electric Guitar</div>
                <div class="guitar collapsible-body grey lighten-2">Lorem ipsum dolor sit amet.</div>
            </li>
            <li>
                <div class="guitar collapsible-header grey-text text-lighten-4 blue-grey lighten-2">
                    <i class="fas fa-guitar"></i>Bass Guitar</div>
                <div class="guitar collapsible-body grey lighten-2">Lorem ipsum dolor sit amet.</div>
            </li>
        </ul>
        

{% endblock %}