/* Importing fonts style */
@import url('https://fonts.googleapis.com/css2?family=Spartan&family=Special+Elite&display=swap');

/* HTML & Body styling */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
    background-image: url('../images/guitars/background.jpg');
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    font-family: 'Spartan', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

/* Heading styling */
h3 {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 3rem;
}

/* Navbar styling */
nav.main-nav {
    position: relative;
    opacity: 0.8;
}

/* Navbar list styling */
nav ul a {
    display: inline-flex;
    font-family: 'Special Elite', cursive;
    font-size: 2.5rem;
    font-weight: 800;
    color: #f5f5f5;
    margin-right: 1.5rem;
    padding: 0 1.5rem;
}

.fa-user-alt:before {
    border: 0.4rem solid #ffa726;
    border-radius: 0.5rem;
    padding: 0.4rem;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.fa-bars:before {
    color: #f5f5f5;
}

/* Sidenav list styling */
.sidenav li>a {
    color: #f5f5f5;
    font-size: 1.8rem;
    font-weight: 800;
}

/* Sidenav text styling */
.sidenav-text {
    font-family: 'Special Elite', cursive;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
}

/* About page styling */
.about.card-panel {
    background-color: ;
    border: 0.2rem solid #37474f;
    border-radius: 2.5rem;
    margin: 3rem;
}

h4.intro-heading {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-weight: 800;
}

.introduction,
.redirect-links,
.shop-links {
    margin: 2rem;
    line-height: 2;
}

p.welcome-text,
p.content-text {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
}

.redirect-buttons, 
.shop-buttons {
    text-align: center;
    line-height: 2;
}

.divider {
    height: 0.3rem;
    overflow: hidden;
    background-color: #546e7a;
}


/* All Guitars list styling */
p.info-text {
    text-align: center;
    font-weight: 900;
    background-color: #e0e0e0;
    border: 0.2rem solid #546e7a;
    border-radius: 0.5;
    margin: 2rem;
    padding: 2rem;
    opacity: 0.8;
}

/* Register/login/Add Guitar forms/buttons styling */
form.register-form, 
form.login-form,
form.add-guitar {
    border: 0.3rem solid #546e7a;
    border-radius: 0.8rem;
    margin: 2rem 4rem 3rem 4rem;
    padding: 2rem;
}

h3.register-heading,
h3.login-heading {
    text-align: center;
    font-family: 'Special Elite', cursive;
}

label.username,
label.password,
label.guitar_name,
label.guitar_shape,
label.guitar_description,
label.date_added,
label.added_by {
    font-size: 1.5rem;
}

p.pattern-user,
p.pattern-password {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 1.3rem;
}

.action-buttons,
.about-buttons {
    text-align: center;
    line-height: 2;
}

.form-buttons,
.shop-one,
.shop-two {
    font-family: 'Special Elite', cursive;
    background-color: #546e7a;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0; 
    color: #f5f5f5;
    font-size: 1.5rem;
    line-height: 3;
    border-width: 0;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.form-buttons:hover,
.shop-one:hover,
.shop-two:hover  {
    background-color: #f5f5f5;
    color: #546e7a;
    border: 0.3rem solid #546e7a;
}

.about-buttons,
.login-button,
.register-button,
.add-guitar-button {
    text-decoration: none;
    margin: 0.5rem;
}

p.redirect-link {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 1.8rem;
}

.fas.fa-user-cog:before,
.fas.fa-user-plus:before,
.fas.fa-user-lock:before {
    font-size: 2.3rem;
}

h4.flash-message {
    text-align: center;
    line-height: 2;
}

.guitar-card {
    line-height: 2;
    border: 0.3rem solid #546e7a;
    border-radius: 1rem;
    padding: 2rem;
}


/* Styling error page */
.error-page {
    height:100%;
    width:100%;
    position:relative;
}

.error-page-message {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
}

.fa-sad-tear:before {
    font-size: 14rem;
    padding: 7rem;
}

.error-message-heading {
    font-family: 'Special Elite', cursive;
    font-size: 3rem;
    margin: 2rem;
}

p.error-page {
    padding: 1rem 0;
    margin: 1rem;
}

.homepage-return {
    margin: 1.5rem;
}

/* Footer styling */
footer.web-footer {
   position: absolute;
   width: 100%;
   margin: auto;
   bottom: 0;
}

/* Action button styling */
.action-btn {
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    margin-bottom: 3.3rem;
}

.fa-angle-double-up:before {
    color: #f5f5f5;
}

.social-media {
    text-align: center;
}

/* Social-media links styling */
.social-media i {
    font-size: 2rem;
    color: #263238;
    border: 0.3rem solid #263238;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.4rem;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* Icon hover styling */
.fab:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* Copyright text styling */
.text {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 1.7rem;
}
