/*importing fonts style*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&display=swap');

/*styling body element*/
body {
    background-color: #81d4fa; 
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

/*navbar styling*/
nav ul a {
    font-family: 'Dancing Script', cursive;
    color: #ef6c00;
    font-size: 1.5rem;
    font-weight: 700;
}
.fa-bars:before {
    color: #ef6c00;
}

/*sidenav styling*/
.side-list {
    background-color: #bbdefb;
}
ul.sidenav li a {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

.sidenav-text {
    font-size: 1.2rem;
    text-decoration: underline;
}