/* Importing fonts style */
@import url('https://fonts.googleapis.com/css2?family=Spartan&family=Special+Elite&display=swap');

/* HTML styling */
html {
    position: relative;
    min-height: 100vh;
    font-size: 62.5%;
}

/* Body styling */
body {
    background-color: #e9e3e6;
    font-family: 'Spartan', sans-serif;
    font-size: 2rem;
}

/* Footer styling */
#footer {
    position: absolute;
    background-color: #878286;
    text-align: center;
    height: 6rem;
    width: 100%;
    line-height: 6rem;
    left: 0;
    bottom: 0;
}

.social-media i {
    font-size: 2rem;
    border: 0.3rem solid #ffffff;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

/* Icon hover styling */
.fab:hover {
    transform: scale(1.2);
}

/* Copyright text styling */
.copyright {
    font-family: 'Special Elite', cursive;
    font-size: 2rem;
    color: #ffffff;
}