<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Buzzing Strings</title>
</head>
<body>
    <header>
        <!--top navbar image-->
        <div class="top-nav-image center-align">
            <a href="#" class="brand-logo"> <img class="top-responsive-image" src="static/images/logo/guitar-banner.png" alt="top-guitars" /></a>
        </div>
        <!--top navbar-->
        <nav>
            <div class="nav-wrapper teal darken-1">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Guitars</a></li>
                <li><a class="login-btn tooltipped" data-position="bottom" data-tooltip="Log In!"><i class="fas fa-user"></i></a></li>
                <li><a href="#">Sign Up!</a></li>
            </ul>
            </div>
        </nav>
        <!--side navbar-->
        <ul class="sidenav teal lighten-4" id="mobile-demo">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Guitars</a></li>
            <li><a href="#" class="login-btn tooltipped" data-position="bottom" data-tooltip="Log In!"><i class="fas fa-user"></i></a></li>
            <li><a href="#">Sign Up!</a></li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}
    <!--footer-->
    <footer class="guitar-footer container-fluid teal lighten-1">
        <div class="row">
            <div class="col s6">
                <p class="copyright left-align">© 2020 Website designed by Kris K</p>         
            </div>
            <div class="col s6">
                <div class="social-links right-align">
                    <a href="https://github.com/KrisK1978" target="_blank" aria-label="Find me on GitHub"><i class="fab fa-github-alt" rel="noopener"></i></a>
                    <a href="#" aria-label="Find us on Instagram"><i class="fab fa-instagram social-media"></i></a>
                    <a href="#" aria-label="Find us on Pinterest"><i class="fab fa-pinterest-square"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js' )}}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>